/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap");
/* reset */
* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:focus, :active, a:focus, a:active {
    outline: none;
    color: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body {
    width: 100%;
    min-height: 100%;
    font-size: 100%;
    line-height: 1;
    -webkit-text-size-adjust: none;
}

input, button, textarea, select {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
}

input:invalid {
    box-shadow: none;
}

input::-ms-clear {
    display: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

button, .button, input[type="button"], input[type=submit] {
    cursor: pointer;
}

button[disabled], input[disabled] {
    cursor: default;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: top;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

/* elements */
body {
    font: 400 24px 'Cabin', sans-serif;
    background: #182546;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 5.3vw;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em 1.8em;
}

.header__author-sign {
    display: flex;
    align-items: center;
}

.header__clover {
    font-size: 36px;
}

.header__sign {
    margin: 0 0.2em;
}

.header span {
    font-weight: bold;
    color: #83EA5F;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em 1.8em;
}

.main__intro p {
    color: #91F3F9;
    letter-spacing: 0.035em;
}

.main__text-morse {
    font-size: 32px;
}

.main__title {
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #83EA5F;
    text-transform: uppercase;
    margin-top: 0.3em;
}

.main__subtitle {
    font-size: 24px;
}

.main img {
    margin-top: 1em;
    width: 30%;
}

.main__buttons {
    width: 100%;
    margin-top: 17vh;
    display: flex;
    justify-content: space-around;
}

.main__button-item {
    width: 237px;
    height: 67px;
    border: 5px solid;
    border-radius: 17px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.085em;
    text-transform: uppercase;
    transition: 0.3s;
}

.main__button-item.green {
    border-color: #74DD4F;
}

.main__button-item.green:hover {
    background-color: #74DD4F;
    color: #182546;
}

.main__button-item.yellow {
    border-color: #DDD84F;
}

.main__button-item.yellow:hover {
    background-color: #DDD84F;
    color: #182546;
}

.main__button-item.blue {
    border-color: #4FDDDD;
}

.main__button-item.blue:hover {
    background-color: #4FDDDD;
    color: #182546;
}

.main__button-item.pink {
    border-color: #DD4FAD;
}

.main__button-item.pink:hover {
    background-color: #DD4FAD;
    color: #182546;
}

.footer {
    padding: 20px;
    text-align: center;
}

.footer__author {
    font-size: 20px;
    margin-bottom: 20px;
}

/* modal windows */
.calculator-window {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #74DD4F;
}

.jokes-window {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #DD4FAD;
}

.jokes-window rect {
    fill: #DD4FAD;
}

.todolist-window {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #DDD84F;
}

.todolist-window rect {
    fill: #DDD84F;
}

.weather-window {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #4FDDDD;
}

.weather-window rect {
    fill: #4FDDDD;
}

.modal-window {
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    width: 75vw;
    height: 62vh;
    background-color: #0D1428;
    border-radius: 20px;
}

.modal-window__close-button {
    padding: 1vh 1vh 0 0;
    position: absolute;
    right: 0;
    top: 0;
}

.modal-window.animated {
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
}

.modal-window.animated.show {
    opacity: 1;
    visibility: visible;
}

svg:hover rect {
    fill: #DD4F4F;
    transition: 0.15s;
}

/* calculator */
.calculator-body {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(2rem, auto) repeat(4, 1fr);
    grid-gap: 0.3em;
    background: linear-gradient(#182546, #182546) padding-box, linear-gradient(90deg, #74DD4F, #DDD84F) border-box;
    border: 5px solid transparent;
    border-radius: 10px;
    width: 35vw;
    height: 50vh;
    padding: 20px;
}

.calculator-body .span-three {
    grid-row: span 3;
    background: linear-gradient(90deg, #74DD4F, #DDD84F);
}

.calculator-body__button-text {
    font-size: 16px;
    text-transform: uppercase;
}

.calculator-body > button {
    font-weight: 700;
    background-color: #10182D;
    border-radius: 5px;
}

.calculator-body > button:hover, .calculator-body > button :focus {
    background-color: #35539f;
}

.calculator-body > button.calculator-body__sign {
    background-color: #26396A;
}

.calculator-body > button.calculator-body__sign:hover, .calculator-body > button.calculator-body__sign :focus {
    background-color: #DDD84F;
    color: #0D1428;
}

.calculator-body__output {
    height: 12vh;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
    text-align: left;
    margin: -20px -20px 0;
}

.calculator-body__output::after {
    content: '';
    background: linear-gradient(90deg, #74DD4F 0%, #DDD84F 100%);
    width: 100%;
    height: 5px;
    position: absolute;
    top: 11vh;
    right: 0;
}

.calculator-body__output .previous-operand {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    padding: .55rem;
}

.calculator-body__output .current-operand {
    font-size: 30px;
    font-weight: 700;
    padding: 0 .55rem .55rem 0;
}

/* weather */
.weather__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("img/clouds.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid #4FDDDD;
    border-radius: 10px;
    width: 35vw;
    height: 50vh;
    padding: 25px;
}

.weather__error-message, .weather__input-message {
    font-size: 30px;
    font-weight: 700;
    margin-top: 20%;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.45);
}

.weather__location-date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.weather__title-location {
    font-size: 36px;
    font-weight: 700;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

.weather__title-date {
    font-size: 20px;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

.weather__temp-info {
    margin-top: 3px;
}

.weather__temp-value {
    font-size: 64px;
    font-weight: 700;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.weather__temp-state {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    font-style: italic;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.weather__temp-emoji {
    font-size: 40px;
    text-align: center;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.weather__search {
    background-color: white;
    border-radius: 8px;
}

.weather__search-bar {
    color: #0D1428;
    width: 90%;
    padding: 5px 10px;
}

.weather__search-bar::placeholder {
    color: #3F5CAD;
    font-size: 18px;
}

.clouds {
    background-image: url("img/clouds.png");
    transition: 0.3s;
}

.sunny {
    background-image: url("img/sun.png");
    transition: 0.3s;
}

.rainy {
    background-image: url("img/rain.png");
    transition: 0.3s;
}

.snowy {
    background-image: url("img/snow.png");
    transition: 0.3s;
}

/* todolist */
.todolist__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #182546;
    border: 5px solid #DDD84F;
    border-radius: 10px;
    width: 35vw;
    height: 50vh;
    padding: 25px;
}

.todolist__body span {
    color: #DDD84F;
}

.todolist__body form {
    display: flex;
    justify-content: center;
}

.todolist__body input {
    box-sizing: border-box;
    border: 3px solid #DDD84F;
    border-radius: 10px 0 0 10px;
    margin-right: -2px;
    padding: 10px 16px;
}

.todolist__body input::placeholder {
    color: #DAD8B2;
    font-size: 18px;
}

.todolist__body .todolist__button-save {
    width: 30%;
    padding: 16px 7px;
    border: none;
    border-radius: 0 10px 10px 0;
    text-transform: uppercase;
    background: linear-gradient(90deg, #DDD84F 0%, #DD9C4F 100%);
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #3C3F4E;
    text-align: center;
    font-size: 16px;
}

.todolist__title {
    font-size: 36px;
    font-weight: 700;
}

.todolist__tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #111B34 0%, rgba(17, 27, 52, 0.7) 65%, rgba(17, 27, 52, 0) 100%);
    border-radius: 15px 15px 0 0;
    max-width: 100%;
    height: 80%;
    overflow: auto;
    margin-top: 0.3em;
    padding: 0.45em;
}

.todolist__tasks::-webkit-scrollbar {
    width: 6px;
}

.todolist__tasks::-webkit-scrollbar-track {
    background-color: transparent;
}

.todolist__tasks::-webkit-scrollbar-thumb {
    background-color: #1D2C53;
    border-radius: 5px;
}

.todolist__tasks-item {
    position: relative;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #DDD84F 0.68%, #DD9C4F 97.3%);
    border-radius: 10px;
    height: auto;
    width: 90%;
    margin-top: 10px;
    padding: 0.7em 1.5em 0.7em 0.6em;
    cursor: pointer;
}

.todolist__tasks-item svg {
    cursor: pointer;
}

.todolist__tasks-item rect {
    fill: #182546;
}

.todolist__tasks-item-text {
    color: #0D1428;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    overflow: hidden;
    word-wrap: break-word;
    flex: 1;
    text-align: left;
}

.tasks-item__close-button {
    top: 50%;
    transform: translateY(-50%);
    padding: 1vh 1vh 0 0;
    position: absolute;
    right: 0;
}

.strike {
    text-decoration: line-through;
}

/* jokes */
.jokes__body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #182546;
    border: 5px solid #DD4FAD;
    border-radius: 10px;
    width: 35vw;
    height: 50vh;
    padding: 25px;
}

.jokes-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jokes-section__title {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    background: linear-gradient(90deg, #DD4FAD 0%, #5F7CBD 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.jokes-section__answer {
    margin-top: 0.5em;
    background: #1D2C53;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px;
    width: 80%;
}

.jokes-section__setup {
    color: #B2C8FA;
}

.jokes-section__punchline {
    color: #DD4FAD;
}

.jokes-section__button {
    margin-top: 0.6em;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.085em;
    text-transform: uppercase;
    background: linear-gradient(90deg, #DD4FAD -0.09%, #5F7CBD 100%);
    border-radius: 10px;
    padding: 0.6em 1.3em;
}

.activity-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activity-section__title {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    background: linear-gradient(90deg, #74DD4F 0%, #DDD84F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.activity-section__answer {
    margin-top: 0.5em;
    background: #1D2C53;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px;
    width: 80%;
}

.activity-section__setup {
    color: #DBFFCE;
}

.activity-section__button {
    margin-top: 0.6em;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.085em;
    text-transform: uppercase;
    background: linear-gradient(90deg, #74DD4F -0.09%, #5F7CBD 99.48%);
    border-radius: 10px;
    padding: 0.6em 1.3em;
}

/* responsive */
.mobile {
    margin-top: 85vw;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 15px;
    }

    .header__clover {
        font-size: 18px;
    }

    .main__title {
        font-size: 2.9rem;
    }

    .main__intro p {
        font-size: 1.2rem;
    }

    .main__text-morse {
        margin-bottom: -0.6em;
    }

    .main__buttons {
        flex-direction: column;
    }

    .main img {
        margin-bottom: -6em;
    }

    .calculator, .todolist, .weather, .jokes {
        margin-bottom: 2vh;
    }

    .modal-window {
        top: 10vh;
        width: 95vw;
        height: 65vh;
    }

    .modal-window svg {
        width: 75%;
    }

    .main__button-item {
        width: 190px;
        height: 50px;
        font-size: inherit;
        text-transform: uppercase;
    }

    .footer__author {
        font-size: 0.9rem;
    }

    .calculator-body, .todolist__body, .weather__body, .jokes__body {
        position: relative;
        bottom: -20px;
        width: 80vw;
        height: 50vh;
    }

    .calculator-body__button-text {
        font-size: 13px;
    }

    .todolist__title {
        font-size: 1.6rem;
    }

    .todolist__body input {
        padding: 10px 0 10px 10px;
    }

    .todolist__body input::placeholder {
        font-size: 15px;
    }

    .weather__search svg {
        width: 13px;
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: -2px;
    }

    .weather__error-message, .weather__input-message {
        font-size: 26px;
        margin-top: 45%;
    }

    .weather__title-location {
        font-size: 28px;
    }

    .weather__title-date {
        font-size: 16px;
    }

    .weather__temp-value {
        font-size: 48px;
    }

    .weather__temp-state {
        font-size: 24px;
    }

    .weather__temp-info {
        margin-top: 16px;
    }

    .jokes-section__title, .activity-section__title {
        font-size: 22px;
    }

    .jokes-section__button, .activity-section__button {
        font-size: 14px;
    }

    .jokes-section__answer, .activity-section__answer {
        font-size: 14px;
    }
}

/*# sourceMappingURL=index.css.map */
